html {
    font-family: 'Lato', sans-serif;
}
@media screen and (max-width:700px){
    html {
        text-align: center;
    }
    .nav-list {
        flex-direction: column;
    }
}
.nav-list {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
.nav-link {
    text-decoration: none;
    color: lightslategray;
    font-size: 2rem;
}
.logo-link:hover {
    color: lightslategray;
}
.logo-link {
    text-decoration: none;
    color: darkcyan;
}
.welcome {
    text-align: center;
    width: 100%;
    padding: 5vh 0vh; 
    color: black;
}
.topbar {
    margin-top: 3vh;
}
.pop {
    color: darkcyan;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}
.shadow {
    box-shadow: 0 1px 2px rgba(0,0,0,0.02), 
                0 2px 4px rgba(0,0,0,0.02), 
                0 4px 8px rgba(0,0,0,0.02), 
                0 8px 16px rgba(0,0,0,0.02),
                0 16px 32px rgba(0,0,0,0.02), 
                0 32px 64px rgba(0,0,0,0.02);
}
.logo {
    font-size: 5rem;
    text-align: center;
}
.icons {
    list-style: none;
}
.icon {
    display: inline-flex;
    font-size: 4.5rem;
    color: darkcyan;
    margin-top: 3vh;
    padding-left: 10vh;
    padding-right: 10vh;
}
.email, .customers, .schedule {
    color: black;
    text-align: center;
    margin-top: 3vh;
    padding-bottom: 2vh;
}
.email p, .customers p, .schedule p {
    font-size: 1.8rem;
    margin-left: 2vh;
    margin-right: 2vh;
}
.learnmore {
    text-decoration: underline;
    font-size: 2rem;
    color: darkcyan;
}
.calltoaction {
    margin-top: 10vh;
}
.cta-image img{
    width: 60%;
    margin-left: 12vh;
}
.cta-text h1{
    text-align: right;
    font-size: 3rem;
    font-weight: bold;
}
.cta-text ul{
    font-size: 2rem;
    text-align: right;
    list-style: none;
}
.button {
    float: right;
    background-color: darkcyan;
    color: white;
}
.button-1 {
    color: white;
    background-color: darkcyan;
}
.button:hover {
    background-color: rgb(1, 184, 184);
    color: white;
}
.footer {
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding-right: 5vh;
    padding-top: 5vh;
    text-align: center;
    background-color: rgb(247, 247, 247, 0.4);
}
.mini-nav {
    list-style: none;
}
.mini-nav-link {
    text-decoration: none;
    color: darkcyan;
    font-size: 2rem;
}
.activenav {
    color: darkcyan;
}
.about-title {
    color: darkcyan;
    text-align: center;
}
.about-text {
    text-align: center;
    font-size: 2rem;
}
.p-t-b {
    padding-top: 5vh;
    padding-bottom: 5vh;
}
.start {
    text-align: center;
    color:darkcyan;
}
.go {
    font-size: 2rem;
    background: darkcyan;
}
.go a {
    color: white;
    text-decoration: none;
}
.center {
    text-align: center;
}
.price {
    list-style: none;
    text-align: center;
    border: 1px solid black;
}
.plan-title {
    font-size: 4rem;
}
.plan-price {
    font-size: 2rem;
    font-style: italic;
    color: darkcyan;
}
.plan-feature { 
    padding: 2vh 2vh;
    margin-top: 0;
    margin-bottom: 0;
}
.plan-link {
    text-decoration: none;
    font-size: 2rem;
    color: darkcyan;
    padding: 2vh 2vh;
}
.gray {
    background-color: rgb(233, 233, 233);
}
.main-plan {
}